.selfie-container {
  width: 70%;
  height: 50vh;
}

.selfie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.selfie video {
  margin-top: 20px;
  height: 60%;
}

.selfie img {
  height: 60%;
  margin-top: 20px;
}

.screenshots {
  margin: 5px 20px 0 20px;
}


.selfie-container button {
  margin: 10px;
  padding: 4px 17px;
  background-color: #0B3C5D;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 2px #1D2731;
}

.selfie-container button:hover {
  background-color: #115A8C;
}
