.saved-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.saved-list-item h3 {
  text-align: left;
  font-family: 'News Cycle';
  color: #1D2731;
  font-size: 25px;
  margin: 0;
}

.saved-rating  {
  display: flex;
  align-items: center;
}

.saved-rating p {
  margin: 0;
}

.saved-rating img {
  height: 17px;
}

.address-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.saved-list-item button {
  margin: 10px 0 20px 0;
  background-color: #1D2731;
  color: white;
  font-size: 15px;
  padding: 5px 17px;
  border: none;
  box-shadow: 0 1px 2px gray;
  border-radius: 10px;
}

.saved-list-item button:hover {
  color: #1D2731;
  background-color: #D9B310;
}
