.restaurant-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 40px 40px 0 40px;
  color: #1D2731;
}

.restaurant-info-container h1 {
  margin: 0 0 5px 0;
  font-family: 'Oswald';
}

.restaurant-info-container h2 {
  font-family: 'News Cycle';
  color: #1D2731;
  font-size: 30px;
  margin: 0;
}

.restaurant-info-container h3 {
  font-family: 'News Cycle';
  font-size: 20px;
  margin: 10px 0 0 0;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating p {
  margin: 5px;
}

.rating img {
  height: 17px;
}

.snippit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.snippit p {
  margin: 5px;
}

.address p {
  margin: 2px;
}

.hidden-restaurant-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-restaurant-form button {
  font-size: 20px;
  border: none;
  margin: 0 20px 0 20px;
  background: none;
  color: black;
  font-family: 'News Cycle';
}

.hidden-restaurant-form button:hover {
  color: #328CC1;
  cursor: pointer;
}

.hidden-restaurant-form p {
  font-size: 30px;
}

