.app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#background-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  opacity: 0.8;
}

#background-image img {
  width: 100%;
  height: 100%;
}


#routlette-results {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: linen;
  opacity: 0.95;
  margin: 6% auto 0 auto;
  width: 90%;
  border-radius: 10px;
}

.restaurant-holder {
  display: flex;
  width: 60%;
}

.map-container-div {
  width: 35%;
  height: 300px;
  box-shadow: 0 1px 2px #1D2731;
}

.saved-restaurants-list-map-container {
  max-height: 70vh;
  background-color: linen;
  opacity: 0.95;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 10px;
}

.saved {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 70vh;
}

#save-map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
