
.savedList{
  max-height: 70vh;
  width: 45%;
  overflow: scroll;
  align-self: flex-start;
  padding-left: 20px
}


.saved-title-button h2{
  font-family: 'News Cycle';
  font-size: 30px;
  flex-grow: 4;
  margin: 10px 0 20px 0;
  display: inline-block;
  color: #1D2731;
  font-weight: bold;
}

.saved-title-button button {
  background: none;
  border: none;
  font-size: 35px;
  font-weight: bold;
  color: #1D2731;
  float: left;
  margin-top: 10px;
}

.saved-title-button button:hover {
  cursor: pointer;
  color: #328CC1;
}

.scroll-list {
  max-height: 45vh;
  widows: 100%;
  overflow: scroll;
}
